<header>
  <div class="header-logo">
    bonds
  </div>
  <ul class="header-menus">
    <li>
    <a href="/about">bondsとは</a>
    
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>bondsとは</h2>
  <p>
    相談SNSサービスです。
    悩みを投稿し、他のユーザーに相談に乗ってもらうことができます。
  </p>
  <img class="about-img" src="/sample.jpg">
</div>